<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/assets/games.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Gears of War</h5>
      <p class="card-text">The series takes place on Sera and Human civilization endures a millennia-long conflict.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="/assets/games.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Halo:Reach</h5>
      <p class="card-text">Halo: Reach is a 2010 first-person shooter video game. The 5th installment in the Halo series</p>
      <p class="card-text"><small class="text-muted">Last updated 7 mins ago</small></p>
    </div>
  </div>
    <div class="card">
    <img class="card-img-top" src="/assets/games.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The Witcher</h5>
      <p class="card-text">The Witcher is a series of fantasy action role-playing game. Acting as sequels to the story of the books</p>
      <p class="card-text"><small class="text-muted">Last updated 23 mins ago</small></p>
    </div>
  </div>
</div>
