<div class="container">
  <div class="headers">
    <div class="homepage-logo container d-flex justify-content-center">
      <%= image_tag "logo_design4.png", alt: "alttext", class: "logo-home"%>
    </div>
    <h1 class="text-center header1">BLOCKBUSTER 2.0</h1>
    <div class="tagline">
      <h2 class="text-center header2">Buy,</h2>
      <h2 class="text-center header2">Sell,</h2>
      <h2 class="text-center header2">Play!</h2>
    </div>
  </div>

  <div class="container d-flex justify-content-center">
    <div class="search w-75">
      <%= render 'shared/search_form' %>
    </div>
  </div>

  <div class="banner container d-flex justify-content-center">
    <%= image_tag 'games.jpg' %>
  </div>

  <div class="sub-header"><h2>Top Games</h2></div>

  <div class="container">
    <%= render 'shared/cards(3)' %>
  </div>


</div>

<br>
<br>
<br>
<%# strategy shooter multiplayer simulation sports puzzlers adventure survival horror %>
