<div class="container">
  <div class="headers">
    <h1 class="text-center header1">THE MODERN DAY BLOCKBUSTER</h1>
    <h1 class="text-center header2">Want to buy?</h1>
  </div>

  <div class="container d-flex justify-content-center">
    <div class="search w-75">
      <%= render 'shared/search_form' %>
    </div>
  </div>

  <div class="banner container d-flex justify-content-center">
    <%= image_tag 'games.jpg' %>
  </div>

  <div class="sub-header"><h2>Top Games</h2></div>

  <div class="container">
    <%= render 'shared/cards(3)' %>
  </div>


</div>

<br>
<br>
<br>
<%# strategy shooter multiplayer simulation sports puzzlers adventure survival horror %>
