.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 3%;
  padding-right: 10%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .my-navbar-item :hover {
  background-color: #1c3041;
  color: #16a0fb !important;
  border-radius: 3px;
}
