.form-inline {
  width: auto;
}

.searchbar {
  position: relative;
  justify-content: center;
  input {
    height: 45px;

  }
}

.home-search {
  position: absolute;
    right: 0px;
    top: 0px;
}
